<div class="ms-4">
<h1>Artículos</h1>
<%= link_to 'Nuevo artículo', new_article_path, class: 'btn btn-primary mb-4' %>
</div>
<div class="row ms-auto me-auto">
  <% @articles.each do |article| %>
    <div class="col-md-3 mb-4">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= truncate(article.description, length: 80) %></p>
          <%= link_to 'Leer más', article_path(article), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="pagination ms-3">
  <%= paginate @articles %>
</div>




